body * {
    box-sizing: border-box;
}

.chart-container {
    border: 1px solid black; 
    width: 1400px;
    height: 600px;
    margin: 0 auto;
}

 
.dot-matrix-container {
    width: 50%;
    border-right: 1px solid black;
    display: flex;
    height: 300px;
    width: 100%;
    border-bottom: 1px solid black;
}

#dot-matrix {
    border: 1px red solid;
}

.matrix-area {
    stroke:blue;
    stroke-width: 1px;
    fill: transparent;
    
}