body * {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h3 {
    margin-top: 0;
    padding-top: 1rem;
    padding-left: 1rem;
}

.chart-container {
    border: 1px solid black; 

    height: 1000px;
    margin: 0 auto;
    display: flex;
}

.top-row {
    width: 1400px;
    /* height: 750px; */
    border-bottom: 1px solid black;
    height: fit-content;
    display: flex
}
 
.dot-matrix-container {
    width: 60%;
    border-right: 1px solid black;

}

.treemap-container {
    width: 40%;
}

.matrix-area {
    fill: transparent;
    
}

.tree-area {
 fill: transparent
}

#treemap{

}

#dot-matrix-sorting {
    margin-top: 10px; 
    text-align:left; 
    margin-left: 1rem;
  }

  #tooltip {
    position: absolute;
    display: none;
    background: #fff;
    border: 1px solid #ddd;
    padding: 8px;
    min-width: 160px;
    color: #333;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
    font-family: 'Poppins', sans-serif; 
  }
  
  .tooltip-title {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
  }
  
  #tooltip ul {
    margin: 5px 0 0 0;
    padding-left: 20px;
  }